In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from datetime import date

In [2]:
data = pd.read_csv('DS1_C4_S4_Car_Prices_Data_Challenge.csv')

In [14]:
# task 1 top 5 manufacturers with lowest car prices of 2014

t1 = data[data.year == 2014]
t1b = t1.groupby(by='make')[['sellingprice']].mean()
t1b.sort_values(by='sellingprice',ascending=True).head()

            sellingprice
make
smart        8620.000000
FIAT        12585.109290
Mitsubishi  13502.323838
Kia         14341.490037
Volkswagen  14840.196850

In [5]:
# task 2  Price of BMW in 2010 and 2015

t22010 = data[(data.year==2010)&(data.make=='BMW')&(data.condition>4.5)][["sellingprice"]].mean()
t22015 = data[(data.year==2015)&(data.make=='BMW')&(data.condition>4.5)][["sellingprice"]].mean()

t2perc = (t22015 - t22010) * (100 / t22015)
print(t2perc)

sellingprice    45.174103
dtype: float64

In [6]:
# task 3 difference between average wholesale price of black and gray interiored cars

t3black = data[data.interior=='black'][["mmr"]].mean()
t3gray = data[data.interior=='gray'][["mmr"]].mean()

t3perc = (t3black - t3gray) * (100 / t3black)
print(t3perc)

mmr    29.43997
dtype: float64

In [7]:
# task 4 colors of cars sold between 2013 and 2015

t4a = data[data.year.between(2013,2015)] 
t4b = t4a.groupby(by='interior')[["make"]].count()

t4b.sort_values(by="make",ascending=False)

             make
interior
black      108782
gray        46694
beige       14914
tan          9708
—            3513
brown        2440
red           507
silver        222
off-white     200
blue          172
purple        104
white          78
gold           74
burgundy       59
green          55
orange         28
yellow         10

In [8]:
# task 5 total sale of cars in specified timeframe + %+- during the same time of SUV type

from datetime import date
data["saledate"]=pd.to_datetime(data["saledate"],utc=True)

t5a=data[(data.body=="SUV")&(data.saledate=="Fri Dec 19 2014 09:00:00 GMT-0800")][["body"]]
temp1 = t5a.value_counts()
print(temp1)
print("________________________________________________________________________________________________________")

t5b=data[(data.body=="SUV")&(data.saledate=="Thu Jan 15 2015 04:30:00 GMT-0800 (PST)")][["body"]]
temp2 = t5b.value_counts()
print(temp2)
print("________________________________________________________________________________________________________")

percDiff=(temp1-temp2) * 100 / temp1
print(percDiff)

body
SUV     569
dtype: int64
________________________________________________________________________________________________________
body
SUV     310
dtype: int64
________________________________________________________________________________________________________
body
SUV     45.518453
dtype: float64

In [9]:
# task 6 Adding discount column with values of 10% for for forst and chevrolet and 20% for rest

data.insert(15, "Discounted Price", np.nan)
data.loc[(data.make == 'Ford') | (data.make == 'Chevrolet'),"Discounted Price"] = data.sellingprice * 0.9
data.loc[(data.make != 'Ford') & (data.make != 'Chevrolet'), "Discounted Price"] = data.sellingprice * 0.8

data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discounted Price,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,17200.0,2014-12-16 04:30:00+00:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,17200.0,2014-12-16 04:30:00+00:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,24000.0,2015-01-14 20:30:00+00:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,22200.0,2015-01-28 20:30:00+00:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,53600.0,2014-12-18 04:30:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,26400.0,2015-07-09 00:00:00+00:00
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,24640.0,2015-07-08 02:30:00+00:00
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,27200.0,2015-07-08 02:30:00+00:00
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,8880.0,2015-07-08 23:45:00+00:00
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,24030.0,2015-05-27 22:30:00+00:00

In [10]:
# task 7 dropping two columns and filling in missing values

data=data.drop(["saledate","vin"],axis=1)


data.make=data.make.fillna("Manufacturer")
data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discounted Price
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,17200.0
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,17200.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,24000.0
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,22200.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,53600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,33000,26400.0
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,24640.0
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,27200.0
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,8880.0
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,24030.0